<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .link{
      margin-top: 20px;
      text-align: center;
      font-size: 16px;
    }
  </style>
</head>
<body>
  <div class="link" id="link1">闪付开通商城、金融</div>
  <div class="link" id="link2">码付开通商城</div>
  <div class="link" id="link3">码付开通金融</div>
  <script src="../libs/js/jquery-3.3.1.min.js"></script>
  <script>
    $("#link1").on("click",function(){
      location.href = 'openApp.jdMobile://virtual?params={"category":"jump","des":"quickpass","source":"LHDT”}'
    })
    $("#link2").on("click",function(){
      location.href = 'openapp.jdmobile://virtual?params={"category":"jump","des":"jdpaymentcode","source":"LHDT"}'
    })
    $("#link3").on("click",function(){
      location.href = 'jdmobile://share?jumpType=5&jumpUrl=120&sourceurl=1022*http://pb.jd.com/lbs/html/index.html'
    })
  </script>
</body>
</html>