@charset "utf-8";
@import "css3lib";
/**============================
loading Rotate
==============================*/
@include keyframes(rotate, webkit moz ms spec) {
    0% { @include transform(rotate(0deg)); }
    100% { @include transform(rotate(360deg)); }
}
/**============================
fadeOut
==============================*/
@include keyframes(fadeOut, webkit moz ms spec) {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
/**============================
fadeIn
==============================*/
@include keyframes(fadeIn, webkit moz ms spec) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/**============================
slider
==============================*/
@include keyframes(slideDown, webkit moz ms spec) {
    0% { @include transform(none); }
    100% { @include transform(translate(0, 18.5rem)); }
}
@include keyframes(slide, webkit moz ms spec) {
    0% { @include transform(none); }
    50% { @include transform(translate(0, 18.5rem)); }
    100% { @include transform(none); }
}
@include keyframes(slideLeft, webkit moz ms spec) {
    0% { @include transform(translate(0%, -50%)); }
    100% { @include transform(translate(-50%, -50%)); }
}
/**============================
信息滚动提示
==============================*/
@include keyframes(tipsScroll, webkit moz ms spec) {
    0% { @include transform(translate(100%, -50%)); }
    100% { @include transform(translate(-100%, -50%)); }
}