@charset "utf-8";
@import "css3lib";
@import "animation";
/**================================================================
common
=================================================================*/
body { font-size: .14rem; line-height: 1; }
img { max-width: 100%; max-height: 100%; }
.full { width: 100%; height: 100%; }
/**================================================================
common
=================================================================*/
$blue: #508cee;
$red: #FF0909;
$borderColor: #e4e4e4;
$time: .3s;
$col-3: #333;
$col-6: #666;
$col-9: #999;
$col-f5: #f5f5f5;
$col-d: #ddd;
$col-e: #eee;
$col-ed: #ededed;
$f9: #f9f9f9;
$d: #ddd;
$f: #fff;
$blue: #508CEE;
$red: #EE3D3D;
.col-9 { color: $col-9; }
.col-6 { color: $col-6; }
.bg-f { background-color: #fff; }
.blue { color: $blue; }
.red { color: $red; }
.lh12 { line-height: 1.2; }
.lh15 { line-height: 1.5; }
.z900 { z-index: 900; }
/**============================
按钮
==============================*/
.btn { display: block; height: .48rem; line-height: .48rem; font-size: .18rem; color: #fff; margin-left: .15rem; margin-right: .15rem; background: $red; border-radius: .02rem; text-align: center; @include transition(background $time ease); }
.btn.dis { background-color: #ccc; }
.btn-fix { position: fixed; left: 0; bottom: 0; height: .5rem; line-height: .5rem; margin: 0; text-align: center; background-color: $red; color: #fff; width: 100%; font-size: .18rem; }
/**================================================================

=================================================================*/
.link { display: inline-block; color: $blue; padding: .1rem; }
// html元素箭头
.arr, .arr-r, .arr-rb, .arr-d, .arr-u, .arr-l {
    &:after { content: ""; position: absolute; right: 0; top: 0; bottom: 0; margin: auto 0; width: .1rem; height: .1rem; border-color: #999; border-style: solid; border-width: 1px 1px 0 0; @include transform(rotate(45deg)); }
}
// down
.arr-d:after { border-width: 0 1px 1px 0; }
.arr-u:after { border-width: 1px 0 0 1px; }
.arr-l:after { border-width: 0 0 1px 1px; left: 0; }
.arr-rb:after { border-color: #999; border-width: 2px 2px 0 0; }
/**================================================================
公共弹框和按钮相关
=================================================================*/
.dialog { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 910; color: #333; opacity: 1; @include transition(all $time ease-in-out);
    .mask { position: absolute; z-index: 10; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: .6; @include transition(all $time ease-in-out); }
    .content { position: absolute; left: 0; z-index: 100; background-color: #fff; box-sizing: border-box; @include transition(all $time ease-in-out); }
}
/**============================
slide                                    
==============================*/
.dialog.slide {
    .content { right: 0; bottom: 0; min-height: .5rem; @include transform(translateY(0) translateZ(0)); }
}
.dialog.slideDown { opacity: .99;
    .mask { opacity: 0; }
    .content { @include transform(translateY(100%) translateZ(0)); }
}
/**============================
 zoom
==============================*/
.dialog.zoom {
    .content { top: 0; right: 0; bottom: 0; margin: auto; min-width: 1rem; min-height: .8rem; @include transform(scale(1)); }
}
.dialog.zoomOut { opacity: .99;
    .mask { opacity: 0; }
    .content { @include transform(scale(0)); }
}
// 高度不定
.dialog.zoom.hauto {
    .content { top: 50%; bottom: auto; @include transform(translateY(-50%) scale(1) translateZ(0)); }
}
.dialog.hauto.zoomOut { opacity: .99;
    .content { @include transform(translateY(-50%) scale(0) translateZ(0)); }
}
/**============================
 fade
==============================*/
.dialog.fade {
    .content { top: 0; right: 0; bottom: 0; margin: auto; min-width: 1rem; min-height: .8rem; opacity: 1; }
}
.dialog.fadeOut { opacity: .99;
    .mask { opacity: 0; }
    .content { opacity: 0; }
}
// 高度不定
.dialog.hauto.fade {
    .content { top: 50%; bottom: auto; @include transform(translateY(-50%)); }
}
.dialog.hauto.fadeOut {
}
/**================================================================
组件覆盖
=================================================================*/
.jm-custom-text { border-width: 0;
    .jct-content .jct-val { font-size: .5rem; }
}
/**================================================================
底部标识
=================================================================*/
$safeColor: #b0b0b0;
.safe-box { font-size: .1rem; color: #acacac; text-align: center; height: .1rem;
    &:after, &:before { margin: 0 .05rem; vertical-align: middle; display: inline-block; background-color: #d6d6d6; content: ""; width: .1rem; height: 1px }
}
