@charset "utf-8";
@import "common/css3lib";
@import "common/common";
// 字体
@font-face {
    font-family: 'DIN-BOLD';
    src: url('fonts/DIN-BOLD.eot');
    src: url('fonts/DIN-BOLD.woff') format('woff'), //url('fonts/DIN-BOLD.woff2') format('woff2'),
    url('fonts/DIN-BOLD.ttf') format('truetype'), url('fonts/DIN-BOLD.svg#DINAlternate-Bold') format('svg'), url('fonts/DIN-BOLD.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
}


/**================================================================                    
                                
=================================================================*/

.hide {
    display: none;
}

.page {
    .title {
        z-index: 1;
        box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.1);
        height: .4rem;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        ul {
            font-size: 0;
            white-space: nowrap;
            li {
                display: inline-block;
                position: relative;
                margin: 0 .15rem;
                line-height: .4rem;
                color: #666;
                text-align: center;
                font-size: .14rem;
                &.active {
                    font-weight: bold;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 120%;
                        height: .02rem;
                        left: -8.4%;
                        background-color: #608EFF;
                    }
                }
            }
        }
    }
    .box {
        top: .4rem;
        width: 100%;
        bottom: 0;
    }
    .scale-mask {
        bottom: 28px;
        left: 10px;
        background: rgba(255, 255, 255, .8);
        width: 40px;
        height: 40px;
        z-index: 10;
    }
}


/**================================================================
地图的自定义标签
=================================================================*/

.cus-tag {
    position: absolute;
    &.coupMark {
        .c-cont .c-name {
            color: #FF4B33;
        }
        &:before {
            content: "";
            position: absolute;
            height: 5px;
            width: 5px;
            right: 3px;
            top: 2px;
            background: #FF4B33;
            border: 0.5px solid #ffffff;
            border-radius: 100px;
        }
    }
    .shopLocation{
        position: absolute;
        top: 0rem;
        left: 0;
        display: none;
    }
    @include transition(all ease $time);
    &.active {
        z-index: 140 !important;
        &.s-2 {
            .shopType {
                @include transform(scale(1.2));
                @include transition(all ease .1s);
            }
            .shopLocation{
                // @include transform(scale(1.2));
                // display: block;
            }
            &:before {
                right: 0px;
                top: 0px;
            }
        }
    }
    .c-cont {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // 折扣  只有s-0才有                                                                                                                             
        .c-disc {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            height: 84%;
            color: #FFED2D;
            font-size: 0;
            text-align: center;
            div * {
                vertical-align: middle;
            }
            p {
                position: absolute;
                left: .05rem;
                display: none;
                width: .2rem;
                height: .2rem;
                background-color: #fff;
                border-radius: 100px;
                overflow: hidden;
                opacity: 0;
                @include transition(all ease $time);
                img {
                    max-width: .2rem;
                    max-height: .2rem;
                }
            }
            div {
                white-space: nowrap;
                span {
                    font-size: .18rem;
                }
                label {
                    position: relative;
                    font-size: .12rem;
                    display: inline-block;
                    vertical-align: bottom;
                    padding-bottom: .01rem;
                    padding-left: .01rem;
                }
            }
        }
        // 店铺名称                                                                                                                                
        .c-name {
            position: absolute;
            bottom: -.25rem;
            left: 50%;
            padding: 0 .12rem;
            height: .2rem;
            line-height: .185rem;
            white-space: nowrap;
            font-size: .12rem;
            color: #000;
            background-color: #fff;
            border: 0.5px solid #CFCFCF;
            border-radius: 100px;
            text-align: center;
            @include transform(translateX(-50%));
            @include box-sizing(border-box);
        }
    }
    &.s-0 {
        z-index: 120;
        width: .7rem;
        height: .34rem;
        @include transform(translateY(-50%));
        img {
            width: 100%;
            height: 100%;
        }
        .c-name {
            color: #FF3C37;
        }
        .c-disc {
            display: block;
        }
    }
    &.s-1 {
        z-index: 110;
        width: .32rem;
        height: .38rem;
        @include transform(translateY(-50%));
    }
    &.s-2 {
        z-index: 100;
        width: .3rem;
        height: .3rem;
    }
    &.redPacket{
        z-index: 100;
        width: 0.25rem;
        height: 0.31rem;
        position: absolute;
    }
}
// 红包的Icon
.redPacket{
    .shopType{
        z-index: 1000;
    }
    &.cus-tag{
        .c-name{
            color: #FF4B33;
        }
    }
    .circle{
        display: inline-block;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        top: 0.075rem;
        left: 0.05rem;
        width: 0.15rem;
        height: 0.15rem;
        background: rgba(255,33,33,0.47);
        
    }
    #circle1{            
        -webkit-animation: scaleout 4s infinite ease-in-out;
        animation: scaleout 4s infinite ease-in-out;
    }
    #circle2{
        -webkit-animation: scaleout 4s infinite ease-in-out;
        animation: scaleout 4s infinite ease-in-out;
        background: #FF2E2E;
        animation-delay: 1s;
    }
    #circle3{
        -webkit-animation: scaleout 4s infinite ease-in-out;
        animation: scaleout 4s infinite ease-in-out;
        animation-delay: 2s;
        
    }
    #circle4{            
        -webkit-animation: scaleout 4s infinite ease-in-out;
        animation: scaleout 4s infinite ease-in-out;
        background: #FF2E2E;
        animation-delay: 3s;
    }
    @-webkit-keyframes scaleout {
        0% { -webkit-transform: scale(1.0) }
        100% {
            -webkit-transform: scale(3);
            opacity: 0;
        }
    }
    @keyframes scaleout {
        0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        } 100% {
            transform: scale(3);
            -webkit-transform: scale(3);
            opacity: 0;
        }
    }
}
// 商户的红包券
.redCoup{
    width: 3.33rem;
    height: 1.11rem;
    margin: 0 auto;
    margin-bottom: 0.075rem;
    &.getRedCoup{
        margin-bottom: 0;
        height: 1.2rem;
        img{
            width: 100%;
            height: 100%;    
        }
    }
    &.failRedCoup{
        background: url('//img30.360buyimg.com/jr_image/jfs/t17737/301/846800599/27898/44a55b22/5aa7aa8aNbcd28647.png');
        background-size: 100% 100%;
        .failRedCoup_txt{
            text-align: center;
            font-family: PingFangSC-Semibold;
            font-size: 0.16rem;
            color: #333333;
            line-height: 1.11rem;
        }
    }
    &.useRedCoup{
        font-family: PingFangSC-Semibold;
        background: url('//img30.360buyimg.com/jr_image/jfs/t17737/301/846800599/27898/44a55b22/5aa7aa8aNbcd28647.png');
        background-size: 100% 100%;
        display: flex;
        &.redCoupType1{
            .coupInfo_left{
                width: 1.1rem;
                padding-left: 0.08rem;
                flex-shrink: 1;
                position: relative;
                color: #FF2837;
                text-align: center;
                .amount{
                    margin-top: 0.18rem;
                    margin-bottom: 0.03rem;
                }
                .amountNum_yuan{
                    font-size: 0.5rem;
                    font-family: DIN-Bold;
                    line-height: 1;
                }
                .amountNum_fen{
                    font-size: 0.19rem;
                    font-family: DIN-Bold;
                    line-height: 1;
                    margin-left: -2px;
                }
                .amountSign{
                    font-size: 0.14rem;
                    font-family: PingFangSC-Semibold;
                }
                .amountLimit{
                    font-size: 0.12rem;
                    font-family: PingFangSC-Regular;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        .coupInfo_middle{
            flex-grow: 1;
            font-family: PingFangSC-Regular;
            font-size: 0.11rem;
            color: #999999;
            overflow: hidden;
            padding-right: 0.15rem;
            .coupInfoLine{
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                margin-bottom: 0.06rem;
            }
            .coupInfoLine1{
                ont-family: PingFangSC-Semibold;
                font-size: 0.16rem;
                color: #333333;
                margin-top: 0.25rem;
                margin-bottom: 0.1rem;
            }
        }
        .coupInfo_right{
            width: 0.5rem;
            padding-right: 0.08rem; 
            flex-shrink: 1;
            font-family: PingFangSC-Semibold;
            font-size: 0.14rem;
            color: #FFAD3B;
            display: flex;
            flex-direction: row;
            align-items: center;
            .coupUse{
                height: 0.8rem;
                width: 100%;
                text-align: center;
                border-left: 1px dashed #E1BE89;
                display: flex;
                flex-direction: column;
                justify-content: center;
                div{
                    color: #FFAD3B;
                    margin-bottom: 3px;
                    // padding-right: 0.08rem;
                }
            }
            &.hide{
                display: none;
            }
        }
        
    }

}


/**================================================================
 弹框
=================================================================*/

.dialog-coup,
.dialog-stores {
    top: auto;
    bottom: 0rem;
    height: 2.70rem;
    .mask {
        visibility: hidden;
    }
    .infoScro {
        &.hide {
            display: none;
        }
        height: .35rem;
        background: #ffffff;
        position: relative;
        z-index: 990;
        border-bottom: .5px solid #ededed;
        display: flex;
        justify-content: center;
        i {
            display: block;
            margin: auto;
            width: 0.52rem;
            height: .04rem;
            background: #d6d6d6;
        }
    }
    .content {
        height: 100%;
        box-shadow: 0 -3px 7px 0 rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 0 -3px 7px 0 rgba(0, 0, 0, 0.07);
        &.noShadow {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07);
            -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07);
            border-top: 0.5px solid #eaeaea;
        }
        .pro-info {
            position: relative;
            width: 100%;
            height: .93rem;
            top: 0;
            .icon-box {
                left: .16rem;
                width: .61rem;
                height: .61rem;
                border: 0.5px solid #E7E7E7;
                img {
                    max-width: .6rem;
                    max-height: .6rem;
                }
            }
            .info {
                left: .88rem;
                right: .9rem;
                font-size: .12rem;
                h4 {
                    height: .18rem;
                    line-height: .18rem;
                    font-size: .16rem;
                    color: $col-3;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: bold;
                    padding-top: .05rem;
                    margin-top: -.05rem;
                }
                p {
                    font-size: 0;
                    color: $col-6;
                    padding: .06rem 0 .1rem;
                    span {
                        font-size: .12rem;
                        vertical-align: middle;
                    }
                    i {
                        display: inline-block;
                        height: .1rem;
                        width: .5px;
                        margin: 0 .1rem;
                        background-color: #d8d8d8;
                        vertical-align: middle;
                    }
                    a {
                        color: #666;
                        font-size: .12rem;
                        vertical-align: middle;
                        color: #FFAD3B;
                    }
                }
                h6 {
                    height: .14rem;
                    line-height: .14rem;
                    position: relative;
                    padding-left: .16rem;
                    padding-right: .05rem;
                    display: block;
                    color: $col-9;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        margin: auto 0;
                        width: .13rem;
                        height: .13rem;
                        background-image: url(//storage.jd.com/static-res/payment/custom/active/lbs/images/addr.png);
                        background-size: contain;
                        background-position: center center;
                    }
                }
            }
            .go-nav {
                height: .55rem;
                width: .9rem;
                color: $blue;
                border-left: 0.5px solid #e4e4e4;
                p {
                    padding-top: .25rem;
                    font-size: .12rem;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        width: .21rem;
                        height: .21rem;
                        background-image: url(//storage.jd.com/static-res/payment/custom/active/lbs/images/goNav.png);
                        background-size: contain;
                        background-position: center center;
                    }
                }
            }
        }
        // 优惠券信息                        
        .cou-info {
            img.flag {
                position: absolute;
                top: 10%;
                left: 48%;
                z-index: 100;
                width: .44rem;
                height: .44rem;
                &.hide {
                    display: none;
                }
            }
            &.hide {
                display: none;
            }
            position: relative;
            width: 94%;
            left: 3%;
            .info-l,
            .info-r {
                height: 83.333%;
            }
            .info-l {
                width: 65%;
                left: 1.994%;
                >div {
                    left: 3%;
                    width: 84%;
                }
                h6 {
                    position: relative;
                    font-size: .16rem;
                    color: #fff;
                    margin-bottom: 0.08rem;
                    i {
                        position: relative;
                        top: 2px;
                        left: 3px;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background: url(//img30.360buyimg.com/jr_image/jfs/t8140/103/987839181/764/22afa521/59b261f7N5fa46048.png) no-repeat;
                        background-size: contain;
                    }
                }
                p {
                    // text-align: center;
                    font-size: .12rem;
                    color: #fff;
                    opacity: .7;
                    line-height: .17rem;
                    i {
                        display: inline-block;
                        position: relative;
                        top: -1px;
                        width: 3px;
                        height: 3px;
                        background: #fff;
                        border: 0.5px solid #ffffff;
                        border-radius: 100px;
                        margin-right: 3px;
                    }
                }
            }
            .info-r {
                width: 34.473%;
                right: 0%;
                h4 {
                    text-align: center;
                    font-family: DIN-BOLD;
                    font-size: .14rem;
                    color: #ffffff;
                    text-shadow: 0 4px 8px rgba(195, 147, 43, 0.61);
                    span {
                        font-size: .32rem;
                        white-space: nowrap;
                    }
                }
                p {
                    text-align: center;
                }
                a {
                    display: inline-block;
                    text-align: center;
                    background: #ffffff;
                    border-radius: 0.1rem;
                    width: 0.78rem;
                    height: 0.23rem;
                    margin-top: .05rem;
                    color: #C69328;
                    font-size: 0.12rem;
                    line-height: 0.23rem;
                    &.geted {
                        // background: rgba(0, 0, 0, 0.12);
                        // color: #DBBC7D;
                    }
                }
            }
        }
        .coup-jian.cou-info {
            .info-r {
                h4 {
                    color: #FAE82C;
                }
                p {
                    margin-top: 5px;
                    opacity: 0.75;
                    font-family: PingFangSC-Light;
                    font-size: 14px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.dialog-coup.dialog {
    width: 94.6%;
    left: 2.7%;
    right: 2.7%;
}

.dialog-coup {
    &.slide .content {
        min-height: 0;
    }
    -webkit-transition: none;
    transition: none;
    &.animateT {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }

    .coupList .coup-box {
        height: 2.75rem;
        overflow: auto;
    }
}
.varyBar-icon.dialog-stores{
    .content{
        min-height: 0.35rem;
    }
    .slide-bar{
        height: 0.35rem;
        i {
            display: block;
        }
        span{
            display: none;
        }
    }
    .scrwrap{
        top: 0.35rem;
    }
}
.varyBar-text.dialog-stores{
    .content{
        min-height: 0.45rem;
    }
    .slide-bar{
        height: 0.45rem;
        i{
            display: none
        }
        span{
            display: block
        }

    }
    .scrwrap{
        top: 0.45rem;
    }
}

.dialog-stores {
    &.dialog.slide .content {
        min-height: 0.45rem;
    }
    &.animateT {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
    height: 50%;
    transition: none;
    -webkit-transition: none;
    .slide-bar {
        height: .45rem;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            width: 0.52rem;
            height: .04rem;
            background: #d6d6d6;
        }
    }
    .scrwrap {
        border-top: .5px solid #eaeaea;
        position: absolute;
        top: 0.45rem;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .content .store-list {
        .store {
            padding: 0.15rem;
            padding-left: 0;
            margin-left: 0.15rem;
            border-bottom: .005rem solid #eaeaea;
            .icon-box {
                margin-left: .005rem;
                position: relative;
                float: left;
                width: 0.45rem;
                height: 0.45rem;
                border: .005rem solid #E7E7E7;
                img {
                    max-width: .44rem;
                    max-height: .44rem;
                }
            }
            .store-info {
                float: left;
                margin-left: 0.25rem;
                width: 1.76rem;
                h3 {
                    height: .18rem;
                    line-height: .18rem;
                    margin-top: .01rem;
                    font-weight: bold;
                    font-size: 0.16rem;
                    color: #333333;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                p {
                    margin-top: .1rem;
                }
                span {
                    font-size: 0.12rem;
                    color: #666666;
                    &.instance {
                        padding-right: .1rem;
                        border-right: .5px solid #D8D8D8;
                    }
                    &.type {
                        padding-left: .1rem;
                    }
                }
            }
            .store-coup {
                background-image: url(//img30.360buyimg.com/jr_image/jfs/t7261/260/2443259542/974/9a45e9cf/59ae52d1Ndbcd7597.png);
                background-size: contain;
                background-position: center center;
                float: left;
                text-align: center;
                width: 0.73rem;
                height: 0.32rem;
                line-height: 0.33rem;
                margin-top: 0.08rem;
                margin-left: 0.1rem;
                span.coup-info {
                    font-size: 0.12rem;
                    color: #ff2c1f;
                }
            }
        }
    }
}

.backCenter {
    position: fixed;
    bottom: .4rem;
    right: .1rem;
    z-index: 900;
    width: .4rem;
    height: .4rem;
    background: url(//img30.360buyimg.com/jr_image/jfs/t10489/332/68019324/4626/393da781/59c4ff7fN83bf2c07.png) no-repeat;
    background-size: cover;
}

.jm-showDialog .jdg-btn-box a.close {
    width: .25rem;
    height: .25rem;
    border-radius: 0;
    border: none;
    margin: 0 auto;
    background: url(//img30.360buyimg.com/jr_image/jfs/t8134/141/2337787203/434/425bd3be/59cb77d7Nf5dd6c47.png) no-repeat;
    background-size: contain;
}

.jm-showDialog .jdg-h4 {
    text-align: center;
    color: #333;
    font-size: .21rem;
    border-bottom: 0.5px solid #DDDDDD;
    width: 90%;
    margin: 0 auto .2rem;
}

.jm-showDialog .jdg-msg h3 {
    margin: .1rem 0;
    font-weight: bold;
    font-size: .16rem;
    color: #333333;
    line-height: .28rem;
}

.jm-showDialog .jdg-msg .last {
    padding-bottom: .2rem;
}

/* iphoneX地图页适配 */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .has-bottombar .dialog.slide .content {
      right: 0;
      bottom: 34px;
    }
    .has-bottombar #map{
        bottom:34px;
    }
    .has-bottombar .backCenter{
      bottom:74px;
    }
    /*增加底部适配层*/
    .has-bottombar .has-bottombar {
        height: 100%;
        box-sizing: border-box;
        padding-bottom: 34px;
    }
  }
// 地图的缩放按钮位置
.smnoprint{
    bottom:120px!important;
}
.dialog-stores #storeNum {
    display: inline-block;
    color: #FF3C37; 
}

// 商户用marker显示
.cus-tag{
    display: none;
}
.storeName{
    color: #FF4B33;
    word-break: keep-all;
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    padding: 0 .12rem;
    height: .2rem;
    line-height: .185rem;
    white-space: nowrap;
    font-size: .12rem;
    color: #FF4B33;
    background-color: #fff;
    border: 0.5px solid #CFCFCF;
    border-radius: 100px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.storeDot {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    right: 3px;
    top: 2px;
    background: #FF4B33;
    border: 0.5px solid #ffffff;
    border-radius: 100px;
}
  