@charset "UTF-8";
/**
 * css3lib
 * thanks: 
 * //bourbon.io/
 * https://github.com/thomas-mcdonald/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_mixins.scss
 * https://github.com/marvin1023/sassCore/blob/master/core/_css3.scss
 */
/**
 * css3lib
 * thanks: 
 * //bourbon.io/
 * https://github.com/thomas-mcdonald/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_mixins.scss
 * https://github.com/marvin1023/sassCore/blob/master/core/_css3.scss
 */
/**
 * css3lib
 * thanks: 
 * //bourbon.io/
 * https://github.com/thomas-mcdonald/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_mixins.scss
 * https://github.com/marvin1023/sassCore/blob/master/core/_css3.scss
 */
/**============================
loading Rotate
==============================*/
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

/**============================
fadeOut
==============================*/
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/**============================
fadeIn
==============================*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/**============================
slider
==============================*/
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; }
  100% {
    -webkit-transform: translate(0, 18.5rem);
    -moz-transform: translate(0, 18.5rem);
    -ms-transform: translate(0, 18.5rem);
    transform: translate(0, 18.5rem); } }

@-moz-keyframes slideDown {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; }
  100% {
    -webkit-transform: translate(0, 18.5rem);
    -moz-transform: translate(0, 18.5rem);
    -ms-transform: translate(0, 18.5rem);
    transform: translate(0, 18.5rem); } }

@-ms-keyframes slideDown {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; }
  100% {
    -webkit-transform: translate(0, 18.5rem);
    -moz-transform: translate(0, 18.5rem);
    -ms-transform: translate(0, 18.5rem);
    transform: translate(0, 18.5rem); } }

@keyframes slideDown {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; }
  100% {
    -webkit-transform: translate(0, 18.5rem);
    -moz-transform: translate(0, 18.5rem);
    -ms-transform: translate(0, 18.5rem);
    transform: translate(0, 18.5rem); } }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: translate(0, 18.5rem);
    -moz-transform: translate(0, 18.5rem);
    -ms-transform: translate(0, 18.5rem);
    transform: translate(0, 18.5rem); }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; } }

@-moz-keyframes slide {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: translate(0, 18.5rem);
    -moz-transform: translate(0, 18.5rem);
    -ms-transform: translate(0, 18.5rem);
    transform: translate(0, 18.5rem); }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; } }

@-ms-keyframes slide {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: translate(0, 18.5rem);
    -moz-transform: translate(0, 18.5rem);
    -ms-transform: translate(0, 18.5rem);
    transform: translate(0, 18.5rem); }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; } }

@keyframes slide {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: translate(0, 18.5rem);
    -moz-transform: translate(0, 18.5rem);
    -ms-transform: translate(0, 18.5rem);
    transform: translate(0, 18.5rem); }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; } }

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

@-moz-keyframes slideLeft {
  0% {
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

@-ms-keyframes slideLeft {
  0% {
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

@keyframes slideLeft {
  0% {
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

/**============================
信息滚动提示
==============================*/
@-webkit-keyframes tipsScroll {
  0% {
    -webkit-transform: translate(100%, -50%);
    -moz-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%); }
  100% {
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%); } }

@-moz-keyframes tipsScroll {
  0% {
    -webkit-transform: translate(100%, -50%);
    -moz-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%); }
  100% {
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%); } }

@-ms-keyframes tipsScroll {
  0% {
    -webkit-transform: translate(100%, -50%);
    -moz-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%); }
  100% {
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%); } }

@keyframes tipsScroll {
  0% {
    -webkit-transform: translate(100%, -50%);
    -moz-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%); }
  100% {
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%); } }

/**================================================================
common
=================================================================*/
body {
  font-size: .14rem;
  line-height: 1; }

img {
  max-width: 100%;
  max-height: 100%; }

.full {
  width: 100%;
  height: 100%; }

/**================================================================
common
=================================================================*/
.col-9 {
  color: #999; }

.col-6 {
  color: #666; }

.bg-f {
  background-color: #fff; }

.blue {
  color: #508CEE; }

.red {
  color: #EE3D3D; }

.lh12 {
  line-height: 1.2; }

.lh15 {
  line-height: 1.5; }

.z900 {
  z-index: 900; }

/**============================
按钮
==============================*/
.btn {
  display: block;
  height: .48rem;
  line-height: .48rem;
  font-size: .18rem;
  color: #fff;
  margin-left: .15rem;
  margin-right: .15rem;
  background: #EE3D3D;
  border-radius: .02rem;
  text-align: center;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease; }

.btn.dis {
  background-color: #ccc; }

.btn-fix {
  position: fixed;
  left: 0;
  bottom: 0;
  height: .5rem;
  line-height: .5rem;
  margin: 0;
  text-align: center;
  background-color: #EE3D3D;
  color: #fff;
  width: 100%;
  font-size: .18rem; }

/**================================================================

=================================================================*/
.link {
  display: inline-block;
  color: #508CEE;
  padding: .1rem; }

.arr:after, .arr-r:after, .arr-rb:after, .arr-d:after, .arr-u:after, .arr-l:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: .1rem;
  height: .1rem;
  border-color: #999;
  border-style: solid;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.arr-d:after {
  border-width: 0 1px 1px 0; }

.arr-u:after {
  border-width: 1px 0 0 1px; }

.arr-l:after {
  border-width: 0 0 1px 1px;
  left: 0; }

.arr-rb:after {
  border-color: #999;
  border-width: 2px 2px 0 0; }

/**================================================================
公共弹框和按钮相关
=================================================================*/
.dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 910;
  color: #333;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .dialog .mask {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .dialog .content {
    position: absolute;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

/**============================
slide                                    
==============================*/
.dialog.slide .content {
  right: 0;
  bottom: 0;
  min-height: .5rem;
  -webkit-transform: translateY(0) translateZ(0);
  -moz-transform: translateY(0) translateZ(0);
  -ms-transform: translateY(0) translateZ(0);
  transform: translateY(0) translateZ(0); }

.dialog.slideDown {
  opacity: .99; }
  .dialog.slideDown .mask {
    opacity: 0; }
  .dialog.slideDown .content {
    -webkit-transform: translateY(100%) translateZ(0);
    -moz-transform: translateY(100%) translateZ(0);
    -ms-transform: translateY(100%) translateZ(0);
    transform: translateY(100%) translateZ(0); }

/**============================
 zoom
==============================*/
.dialog.zoom .content {
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 1rem;
  min-height: .8rem;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.dialog.zoomOut {
  opacity: .99; }
  .dialog.zoomOut .mask {
    opacity: 0; }
  .dialog.zoomOut .content {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

.dialog.zoom.hauto .content {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%) scale(1) translateZ(0);
  -moz-transform: translateY(-50%) scale(1) translateZ(0);
  -ms-transform: translateY(-50%) scale(1) translateZ(0);
  transform: translateY(-50%) scale(1) translateZ(0); }

.dialog.hauto.zoomOut {
  opacity: .99; }
  .dialog.hauto.zoomOut .content {
    -webkit-transform: translateY(-50%) scale(0) translateZ(0);
    -moz-transform: translateY(-50%) scale(0) translateZ(0);
    -ms-transform: translateY(-50%) scale(0) translateZ(0);
    transform: translateY(-50%) scale(0) translateZ(0); }

/**============================
 fade
==============================*/
.dialog.fade .content {
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 1rem;
  min-height: .8rem;
  opacity: 1; }

.dialog.fadeOut {
  opacity: .99; }
  .dialog.fadeOut .mask {
    opacity: 0; }
  .dialog.fadeOut .content {
    opacity: 0; }

.dialog.hauto.fade .content {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/**================================================================
组件覆盖
=================================================================*/
.jm-custom-text {
  border-width: 0; }
  .jm-custom-text .jct-content .jct-val {
    font-size: .5rem; }

/**================================================================
底部标识
=================================================================*/
.safe-box {
  font-size: .1rem;
  color: #acacac;
  text-align: center;
  height: .1rem; }
  .safe-box:after, .safe-box:before {
    margin: 0 .05rem;
    vertical-align: middle;
    display: inline-block;
    background-color: #d6d6d6;
    content: "";
    width: .1rem;
    height: 1px; }

html,
body {
  height: 100%; }

.page.lead-view {
  height: 100%;
  background: url("//img30.360buyimg.com/jr_image/jfs/t11950/20/2311096448/265720/c4b50078/5a156ceeN0a141dc7.png") no-repeat;
  font-size: .12rem;
  background-size: 100% auto; }
  .page.lead-view .wrapper {
    height: 100%; }
    .page.lead-view .wrapper .coupon-info {
      font-size: .16rem;
      color: #666666;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 1.05rem;
      letter-spacing: .02rem; }
      .page.lead-view .wrapper .coupon-info .p2 {
        margin-top: .06rem; }
    .page.lead-view .wrapper .citySelect {
      text-align: center;
      position: absolute;
      font-size: .14rem;
      right: .1rem;
      margin-top: .03rem;
      color: #FFFFFF;
      width: .7rem;
      height: .32rem;
      line-height: .32rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .page.lead-view .wrapper .activityShop {
      position: relative;
      top: 1.77rem;
      border: 10px solid #c19f69;
      border-bottom-width: 11px;
      margin: 0 .25rem; }
      .page.lead-view .wrapper .activityShop .shops {
        border: 2px solid #e2cba4; }
        .page.lead-view .wrapper .activityShop .shops .shop-item {
          float: left;
          box-sizing: border-box;
          width: 33.33%;
          height: 1.075rem;
          border-right: 1px solid #e4d0ad;
          border-bottom: 1px solid #e4d0ad;
          background: #ffffff; }
          .page.lead-view .wrapper .activityShop .shops .shop-item img {
            display: block;
            margin: 0.1rem auto .05rem;
            border-radius: 100rem;
            width: .4rem;
            height: .4rem;
            opacity: .2; }
          .page.lead-view .wrapper .activityShop .shops .shop-item p {
            color: #c2a069;
            font-size: .11rem; }
          .page.lead-view .wrapper .activityShop .shops .shop-item a {
            font-size: .11rem;
            color: #ffffff;
            background: #c8aa73;
            margin-top: .05rem;
            display: inline-block;
            padding: 0 .15rem;
            height: .2rem;
            line-height: .2rem;
            border-radius: .2rem; }
          .page.lead-view .wrapper .activityShop .shops .shop-item.active {
            background-color: #d0b587; }
            .page.lead-view .wrapper .activityShop .shops .shop-item.active img {
              opacity: 1; }
            .page.lead-view .wrapper .activityShop .shops .shop-item.active p {
              color: #ffffff; }
            .page.lead-view .wrapper .activityShop .shops .shop-item.active a {
              background: #ffe7bf;
              color: #b18f59; }
          .page.lead-view .wrapper .activityShop .shops .shop-item.shop-item2 {
            width: 50%;
            height: 1.5rem; }
            .page.lead-view .wrapper .activityShop .shops .shop-item.shop-item2 img {
              width: .55rem;
              height: .55rem;
              margin-top: .2rem; }
            .page.lead-view .wrapper .activityShop .shops .shop-item.shop-item2 p.ac-info {
              font-size: .14rem;
              margin: .1rem auto .05rem; }
            .page.lead-view .wrapper .activityShop .shops .shop-item.shop-item2 a {
              height: .25rem;
              line-height: .25rem;
              font-size: .12rem; }
          .page.lead-view .wrapper .activityShop .shops .shop-item.shop-item3 {
            width: 100%;
            height: .86rem; }
            .page.lead-view .wrapper .activityShop .shops .shop-item.shop-item3 img {
              float: left;
              width: .45rem;
              height: .45rem;
              margin: .2rem; }
            .page.lead-view .wrapper .activityShop .shops .shop-item.shop-item3 p {
              float: left;
              font-size: .14rem;
              line-height: .86rem; }
            .page.lead-view .wrapper .activityShop .shops .shop-item.shop-item3 a {
              float: right;
              height: .25rem;
              line-height: .25rem;
              font-size: .12rem;
              margin: .3rem .1rem; }
    .page.lead-view .wrapper .activityRule {
      position: relative;
      top: 1.77rem;
      padding: 0 .2rem;
      padding-bottom: .65rem;
      text-align: left; }
      .page.lead-view .wrapper .activityRule .title {
        margin: .2rem auto;
        text-align: center;
        font-size: .16rem;
        font-weight: bold; }
        .page.lead-view .wrapper .activityRule .title:before, .page.lead-view .wrapper .activityRule .title:after {
          margin: 0.05rem;
          display: inline-block;
          background-color: #eaeaea;
          content: "";
          width: .15rem;
          height: 2px; }
      .page.lead-view .wrapper .activityRule .content p {
        font-size: .14rem;
        line-height: .18rem;
        padding-left: .15rem;
        margin-bottom: .1rem;
        color: #999999;
        position: relative; }
        .page.lead-view .wrapper .activityRule .content p:before {
          position: absolute;
          top: .05rem;
          left: 0rem;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          display: inline-block;
          background-color: #c09e66;
          content: "";
          width: .08rem;
          height: .08rem; }
      .page.lead-view .wrapper .activityRule .showActivity {
        font-size: .12rem;
        width: 1.06rem;
        height: .3rem;
        border: .5px solid #c2a069;
        line-height: .3rem;
        border-radius: .3REM;
        color: #b79763;
        margin: .2rem auto; }
    .page.lead-view .wrapper .bot-btn {
      -webkit-box-shadow: 0 -3px 5px 3px rgba(0, 0, 0, 0.04);
      box-shadow: 0 -3px 5px 3px rgba(0, 0, 0, 0.04);
      position: fixed;
      bottom: 0;
      text-align: center;
      background: #fff;
      width: 100%;
      height: .55rem;
      text-align: center;
      line-height: .55rem;
      font-size: .16rem;
      color: #c2a069;
      font-weight: 500; }
      .page.lead-view .wrapper .bot-btn.hide {
        display: none; }
    .page.lead-view .wrapper .full-btn {
      -webkit-box-shadow: 0 -3px 5px 3px rgba(0, 0, 0, 0.04);
      box-shadow: 0 -3px 5px 3px rgba(0, 0, 0, 0.04);
      position: fixed;
      bottom: 0;
      width: 100%;
      height: .55rem;
      line-height: .55rem;
      text-align: center;
      color: #FFFFFF;
      font-size: .18rem;
      background-size: contain; }
      .page.lead-view .wrapper .full-btn.full-btn-new {
        background: url("http://img30.360buyimg.com/jr_image/jfs/t14923/191/142577626/11826/ef0a2cf7/5a24bc22N0a370be3.png") no-repeat; }
      .page.lead-view .wrapper .full-btn.hide {
        display: none; }
      .page.lead-view .wrapper .full-btn span {
        margin-left: .32rem; }
      .page.lead-view .wrapper .full-btn i {
        display: inline-block;
        position: absolute;
        width: .33rem;
        height: .33rem;
        top: .13rem;
        left: .8rem;
        background: url("http://img30.360buyimg.com/jr_image/jfs/t12985/6/1652168129/3815/69ec15db/5a24bc22N883a69c5.png") no-repeat;
        background-size: 100%; }

.jm-showDialog .jdg-btn-box a.close {
  width: .25rem;
  height: .25rem;
  border-radius: 0;
  border: none;
  margin: 0 auto;
  background: url(//img30.360buyimg.com/jr_image/jfs/t8134/141/2337787203/434/425bd3be/59cb77d7Nf5dd6c47.png) no-repeat;
  background-size: contain; }

.jm-showDialog .jdg-h4 {
  color: #444444; }

.jm-showDialog .jdg-msg a.closeDig {
  position: absolute;
  top: -.65rem;
  right: -.2rem;
  display: inline-block;
  width: .3rem;
  height: .45rem;
  background: url("http://img30.360buyimg.com/jr_image/jfs/t12952/55/491232999/1853/3cc85be3/5a0d0754N2f186117.png") no-repeat;
  background-size: cover; }

.jm-showDialog .jdg-msg h2.p1 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: .05rem; }

.jm-showDialog .jdg-msg h3 {
  font-weight: bold; }
  .jm-showDialog .jdg-msg h3.p2 {
    color: #d7af6d; }
    .jm-showDialog .jdg-msg h3.p2.gofor {
      font-size: .2rem; }

.jm-showDialog .jdg-msg a.nearbySale {
  display: inline-block;
  background: url("//img30.360buyimg.com/jr_image/jfs/t13327/187/503087896/28143/babda0ab/5a0d03caN361179f1.png") no-repeat;
  background-size: 100%;
  width: 2.6rem;
  height: .55rem;
  margin-top: .3rem; }
  .jm-showDialog .jdg-msg a.nearbySale.gofor {
    background: url("//img30.360buyimg.com/jr_image/jfs/t13945/48/1274488167/23000/826c0f42/5a1d38eeN3c0f6868.png") no-repeat;
    background-size: 100%; }

.jm-showDialog .jdg-msg a.moreSale {
  display: block;
  text-align: center;
  color: #d7af6d;
  font-size: 12px; }

.jm-showDialog .jdg-msg p {
  font-size: .14rem;
  text-indent: 0em; }
  .jm-showDialog .jdg-msg p.t2 {
    text-indent: 2em; }
  .jm-showDialog .jdg-msg p a {
    color: #009cde; }
  .jm-showDialog .jdg-msg p.q:before {
    margin: 0.05rem;
    position: relative;
    top: .03rem;
    display: inline-block;
    background-color: #666666;
    border-radius: 100rem;
    content: "";
    width: .06rem;
    height: .06rem; }

.jm-showDialog .jdg-msg .table {
  margin: 0.08rem auto;
  font-size: .12rem;
  border-top: .5px solid #eaeaea;
  border-left: .5px solid #eaeaea; }
  .jm-showDialog .jdg-msg .table div {
    text-align: center; }
    .jm-showDialog .jdg-msg .table div p {
      box-sizing: border-box;
      border: .5px solid #eaeaea;
      border-left: none;
      border-top: none;
      width: 50%;
      float: left; }
  .jm-showDialog .jdg-msg .table .head {
    text-align: center;
    background: #eaeaea;
    border-left: .5px solid #eaeaea;
    border-right: .5px solid #eaeaea; }
    .jm-showDialog .jdg-msg .table .head p {
      border: none; }

/*# sourceMappingURL=css/maps/lead.css.map */
